.container-login {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .wrap-login {
        width: 470px;
        background: #fff;
        border-radius: 10px;
        position: relative;
    }
    .login-form {
        width: 100%;
    }

    .login-form-title {
        font-size: 30px;
        color: #403866;
        line-height: 1.2;
        text-align: center;
        width: 100%;
        display: block;
    }

    input {
        height: 55px;
    }

    label {
        color: #767777;
        font-weight: bold;
        padding-top: 15px;
    }

    .login-actions {
        padding-top: 20px;
        button {
            width: 90%;
            height: 55px;
            margin: auto;
            background-color: #00826F;
            font-weight: bold;
        }
    }
}

